@use "../../config/colors.scss";

.img {
	&__image {
		// Set `max-width: 100%` to prevent images from expanding beyond their containers.
		max-width: 100%;

		&--border {
			border: 1px solid colors.$blue;
		}
	}

	&__caption {
		font-size: 1.4rem;
		font-style: italic;

		&--unitalicize {
			font-style: normal;
		}

		@media screen and (width >= 1400px) {
			font-size: 1.6rem;
		}
	}
}
