doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1.0", name="viewport")
    script(src="../contact.js")
    title contact | dustinruetz.com
  body
    h1 Contact
    p This page is a work-in-progress.
    a(href="/") Go to /
