@use "../../config/spacing.scss";

.main {
  max-width: 120rem;
  padding: spacing.$s-4 spacing.$s-2;
  margin: 0 auto;

  &__inner {
    max-width: 90rem;
    margin: 0 auto;
  }

  // set `min-height` in order to space out main content and footer on pages that don't have much content
  @media screen and (min-width: 667px) {
    min-height: 50vh;
  }

  @media screen and (min-width: 1024px) {
    padding: spacing.$s-4;
  }

  // remove `padding-left/right` when it's no longer necessary due to <main/> `max-width`
  @media screen and (min-width: 1280px) {
    padding-left: unset;
    padding-right: unset;
  }

  // use BEM modifier class to apply different styles to specific pages
  &--home {
    // homepage requires additional padding due to the large hero elements
    padding-top: spacing.$s-8;
    padding-bottom: spacing.$s-8;
    // hide overflow on both x- and y-axis to prevent over-scrolling during line animations;
    // over-scrolling is caused by position top/left/right animation changes in home.scss
    overflow: hidden;
  }
}
