extends ../../components/page/page.pug
include ../../components/head/head.pug
include ../../components/heading/heading.pug

block head
  +head("home")

block main
  - const content = require('./home.json')
  div.homepage
    +heading("h1")=(content.title)
    p=(content.description)
