extends ../../components/page/page.pug
include ../../components/head/head.pug

block head
  +head("home")

block main
  h1 Hello, dustinruetz.com!
  p This site is a work-in-progress.
  a(href="/contact/") Go to /contact/
