extends ../../components/page/page.pug
include ../../components/head/head.pug

block head
  +head("home")

block main
  - const content = require('./home.json')
  div.homepage
    h1.homepage__heroTitle
      =(content.title)
    p=(content.description)
