@use "../../config/colors.scss";
@use "../../config/fonts.scss";

.header {
  @media screen and (min-width: 667px) {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 4rem;
  }

  &__link {
    display: flex;
    // set `width: max-content` to prevent link from spanning the entire viewport width
    width: max-content;
    outline: 1px dashed transparent;
    font-family: fonts.$roboto;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    transition: outline 250ms ease-out;

    &:focus {
      outline: 1px dashed colors.$blue;
    }

    &:hover {
      .header__link-name {
        color: colors.$blue;
      }
    }
  }

  &__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    $link-icon-dimension: 6rem;
    height: $link-icon-dimension;
    width: $link-icon-dimension;
    background-color: colors.$blue;
    color: colors.$black-2;
    text-align: center;
  }

  &__link-name {
    // set `display: flex` and `align-items: center` to make header__link-name the same height
    // as header__link-icon (which makes header__link into a rectangular target box)
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: colors.$white-fff;
    transition: color 250ms ease-out;
  }
}
