-
  const {NAME} = require('../../config/constants.js')
  const content = require('./header.json')

header.header
  a.header__link(href="/")
    span.header__link-icon= content.iconText
    span.header__link-name= NAME
  include ../nav/nav.pug
