- const content = require('./footer.json')

footer.footer
  p.footer__copyright
    span=(content.copyright)
    span.footer__copyright-year
    span=(content.name)
  include ../external-links/external-links.pug
