-
	const {NAME} = require('../../config/constants.js')
	const content = require('./footer.json')

footer.footer
	p.footer__copyright
		span= content.copyright
		- const currentYear = new Date().getFullYear();
		span= ` ${currentYear} `
		span= NAME
	include ../external-links/external-links.pug
