block content
	//- Require page's JSON content here when extending this template.

doctype html
html(lang="en")
	block head
	body
		include ../header/header.pug
		block main
		include ../footer/footer.pug
