@use "../../config/colors.scss";
@use "../../config/fonts.scss";

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: colors.$black-2;
  color: colors.$grey-2;
  font-family: fonts.$droid-serif;
  $font-size: 1.8rem;
  font-size: $font-size;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: 1400px) {
    font-size: calc(#{$font-size} + 5.4 * ((100vw - 140rem) / 280));
  }

  @media screen and (min-width: 1680px) {
    font-size: 2.4rem;
  }
}
