doctype html
html(lang="en")
  block content
    //- require page's JSON content here when extending this template
  block head
  body
    include ../header/header.pug
    include ../nav/nav.pug
    block main
