extends ../../components/page/page.pug
include ../../components/head/head.pug
include ../../components/heading/heading.pug
include ../../components/img/img.pug

block head
  +head("404")

block main
  - const content = require('./404.json')
  div.error-404
    +heading("h1")=(content.title)
    p=(content.description)
    -
      const youAreBeingMonitoredImage = {
        alt: content.image.alt,
        // require the image so that Webpack processes it
        module: require('./images/you-are-being-monitored.png'),
        // get the image path relative to the site's structure
        src: function() {
          return this.module.default.replace('.', '')
        }
      }
    +img({alt: youAreBeingMonitoredImage.alt, src: youAreBeingMonitoredImage.src()})
