extends ../../components/page/page.pug
include ../../components/head/head.pug
include ../../components/heading/heading.pug
include ../../components/img/img.pug
include ../../components/main/main.pug

block content
  - const content = require('./404.json')

block head
  +head({pageName: "404", pageTitle: content.pageTitle})

block main
  +main
    div.error-404
      +heading({level: "h1"})=(content.title)
      p=(content.description)
      +img({alt: content.image.alt, src: content.image.src})
