nav.nav
  ul.nav__links
    - const {routes} = require('../../routes/routes.js')
    each route in routes
      li.nav__link-container
        a.nav__link(
          href=route.href
        )
          -
            const routeIcon = {
              module: require(`./icons/${route.icon}.svg`),
              svgCode: function() {
                return this.module.replace('svg', 'svg class="nav__link-icon"')
              }
            }
          //- buffer unescaped SVG code directly into the Pug template
          figure !{routeIcon.svgCode()}
            figcaption=(route.label)
